.form {
    background: white;
    // text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 500px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
    &--clear{
        display: flex;
        align-items: flex-end;
        flex-direction: column-reverse;
        &-button{
            background-color: rgba(216, 60, 20, 0.7);
            font-size: 12px;
            align-self: flex-end;
            border-radius: 10px;
            border-style: none;
            padding-top: 4px;
            padding-bottom: 4px;
            margin-right: 15px;
            margin-bottom: 10px;
        }
    }
    &--title{
        font-size: 30px;
        margin-bottom: 40px;
    }
    &--specialcharacters{
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 5px;
        margin-top: 10px;
        &--input {
            width: 30px;
            border-radius: 5px;
            border: 1px solid lightgray;
        }
    }
    &--input {
        padding: 10px;
        width: 90%;
        height: 300px;
        border-radius: 10px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
        font-weight: normal; 
        font-size: 16px;
        border: 1px solid lightgray;
    }
    &--charcount {
        width: 95%;
        text-align: right;
        color: gray;
    }
    &--buttons {
        margin-top: 15px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &--submit {
        background-color: #09d3ac;
        border-radius: 10px;
        border-style: none;
        font-size: 16px;
        width: 100px;
        padding-top: 7px;
        padding-bottom: 7px;
        // padding: 5px;
        // p
        margin-top: 5px;
    }
}